@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    /* background: #202026; */
}

table,
thead {
    /* background: #1b1c21; */
}

table thead * {
    font-weight: bold;
    ;
}

table thead * {
    color: #000;
}

* {
    font-family: 'Roboto', sans-serif !important;
}

td {
    /* border-style: hidden !important; */
    /* background: #1b1c21; */
    /* border-color: white !important; */
    border-color: #e0e0e073 !important;
}

th {
    /* border-color: #ffffff0a !important; */
    /* border-color: #00000033; */
}

.dot {
    height: 2px;
    width: 2px;
    background-color: #1976d245;
    border-radius: 50%;
    display: inline-block;
}

th.Sat,
th.Sun {
    background: #f9f9f9;
    /* color: white !important; */
}

thead>tr:first-child>th.today,
thead>tr:first-child>th.fix {
    /* border-bottom: 2px solid #f1304a !important;
    background: #ef444463; */
    /* color: whitesmoke !important; */
    border-bottom: 2px solid #ffffff !important;
    background: #ef4444;
    color: whitesmoke !important;
}

thead>tr:nth-child(2)>th.today,
thead>tr:nth-child(2)>th.fix {
    background: #ef4444;
    color: whitesmoke !important;
}

td.today,
td.fix {
    background: #ef44441c;
}


td.do {
    background: #76c48c42;
}

th.do {
    background: #39aa58;
}

thead>tr:first-child .fix {
    border-bottom: 2px solid #f1304a !important;
}

thead>tr>.do {
    color: white !important;
}

thead>tr:first-child>th.do {
    border-bottom: 2px solid #ffffff !important;
}

.doTitle {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;
}

tbody td.stuck,
thead th.stuck {
    background-color: #ffffff;
    /* background-color: #00cdfe; */
    position: sticky;
    left: 0;
    z-index: 1;
}

tbody td.stuck,
thead th.stuck * {
    font-weight: 400;
    /* color: whitesmoke !important; */
}

tbody tr:first-child td.stuck:first-child {
    left: 0;
}

/* 
thead tr:not(:first-child) th.stuck:first-child,
tbody tr:not(:first-child) td.stuck:first-child {
    left: 200px;
} */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.partSticky {
    position: sticky;
    left: 30%;
    width: fit-content;
}

table>thead {
    /* box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45); */
}

.tbTitle {
    /* box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45) !important; */
}



td.Sat,
td.Sun {
    background: #f9f9f9;
    color: white !important;
}

td.Sun.fix,
td.Sat.fix,
td.today.fix {
    /* background: #3220249e; */
}

td.Sun.do,
td.Sat.do {
    /* background: #1e2a258c; */
}

.partDetail {
    padding: .5rem;
    border-radius: 8px;
    background: #ffffff17;
}

.partDetail > div {
    background: #55bfb0;
    color: white;
    padding: 8px 0px 8px 12px;
    border-radius: 8px;
}

body,
html,
#root {
    height: 100%;
}


.doVal {
    padding: .25rem 1rem;
    background: #0fae76;
    color: whitesmoke !important;
    border-radius: 8px;
    font-weight: 600;
}

.planVal {
    font-weight: 600;
    color: #46a3ff !important;
}

.poVal {
    color: #fd484c !important;
    font-weight: 600;
}

.stockSimVal {
    color: #ff6839 !important;
    font-weight: 600;
}

.title.plan {
    color: #ffffff !important;
    /* background: #eb5425; */
    background: #46a3ff;
    padding: .25rem .5rem 0.2rem .5rem;
    border-radius: 14px;
}

.title.doplan {
    color: #ffffff !important;
    background: #0fae76;
    padding: .25rem .5rem 0.2rem .5rem;
    border-radius: 14px;
}

.title.stocksimulate {
    color: #ffffff !important;
    background: #eb5425;
    padding: .25rem .5rem 0.2rem .5rem;
    border-radius: 14px;
}

.title.po {
    color: #ffffff !important;
    background: #fd484c;
    padding: .25rem .5rem 0.2rem .5rem;
    border-radius: 14px;
}

.title {
    /* border-right: 1px solid #e0e0e0 !important; */
}


h2.aaaaa {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #16c000;
    line-height: 0em;
    margin: 10px 0 8px;
}

h2.aaaaa .doPlan {
    background: #fff;
    padding: 0 10px;
}